body {
	width:75%;margin:0 10% 0 10%;text-align:center;
}
header {
	margin:5% 0 5% 0;
}
a:link {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.mainnav {
	text-align:center;font: bolder 42px black
}
.subnav {
	text-align:center;font: bolder 22px black;
}
input{
	width:20%;height:22px;
}
button{
	font:bold 22px black;width:10%;height:40px;
}
.submit{
	font:bold 22px black;width:40%;height:40px;
}
.section1{
	display:block;border-style:solid;border-width:1px;margin:0 20% 0 35%;text-align:center;width:30%;
}
.section2{
	display:block;border-style:solid;border-width:1px;width:30%;text-align:center;margin:5% 20% 0 35%;
}
.section3{
	display:block;border:1px solid black;width:30%; margin:0 20% 5% 35%;text-align:center;width:30%;
}

.section4{
	
}
.div1{
	font:normal 22px black;margin-top:10px; margin-bottom:20px;
}
.div2{
	font:normal 22px black;margin-top:10px; margin-bottom:20px;
}

.div3{
	margin-top:10%; margin-bottom:20px;
}
.div4{
	font:normal 22px black;margin-top:10px; margin-bottom:20px;
}
.div5{
	font:normal 22px black;margin-top:10px; margin-bottom:20px;
}

